---
import Default from "@astrojs/starlight/components/Header.astro"
import { getCollection } from "astro:content"
import User from "../User.astro"
import Logo from "../../assets/Logo.svg"


const navlinks = await getCollection("header").then((collection) => {
	return collection.map((item) => {
		return item.data
	})
})


---

<header
	class="absolute z-10 flex w-full items-center justify-between px-4 py-2 text-white mix-blend-difference"
>
	<a href="/"><Logo height={48} width={128} /></a>
	{
		navlinks.map((link) => (
			<a href={link.href} target={(link.newTab)? "_blank" : ""} rel={(link.newTab) ? "noopener noreferrer" : ""}>{link.label}</a>
		))
	}
	<!-- <slot /> -->

	<User server:defer />
</header>
