---
import MobileTableOfContents from "./MobileTableOfContents.astro"
import TableOfContents from "./TableOfContents.astro"

const toc = Astro.locals.starlightRoute.entry.data.tableOfContents
---

{
	Astro.locals.starlightRoute.toc && (
		<>
			<div class="lg:sl-hidden">
				<MobileTableOfContents toc={toc} />
			</div>
			<div class="right-sidebar-panel sl-hidden lg:sl-block typestyle-text-l">
				<div class="sl-container">
					<TableOfContents toc={toc} />
				</div>
			</div>
		</>
	)
}

<style>
	.right-sidebar-panel {
		padding: 1rem var(--sl-sidebar-pad-x);
	}
	.sl-container {
		width: calc(var(--sl-sidebar-width) - 2 * var(--sl-sidebar-pad-x));
	}
	.right-sidebar-panel :global(h2) {
		@apply font-bold text-green-black;
		margin-bottom: 0.5rem;
	}
	.right-sidebar-panel :global(:where(a)) {
		@apply block text-xl text-green-black no-underline;
		overflow-wrap: anywhere;
	}
	.right-sidebar-panel :global(:where(a):hover) {
		/* color: var(--sl-color-white); */
	}
	@media (min-width: 72rem) {
		.sl-container {
			max-width: calc(
				(
					(
							100vw - var(--sl-sidebar-width) - 2 *
								var(--sl-content-pad-x) - 2 *
								var(--sl-sidebar-pad-x)
						) *
						0.25 /* MAGIC NUMBER 🥲 */
				)
			);
		}
	}
</style>
