---
import type { HTMLAttributes } from "astro/types"
import { cva, type VariantProps } from "cva"
import { button } from "./button"

export interface Props
	extends Omit<HTMLAttributes<"button">, "disabled">,
		VariantProps<typeof button> {}

const {
	class: className,
	intent = "black",
	size = "large",
	disabled = false,
} = Astro.props
---

<button
	class={button({
		intent,
		size,
		disabled,
		className,
	})}
	disabled={disabled}
>
	<slot />
</button>
