---
import { createSignal } from "solid-js"
import { button } from "../button/button"
import AccountEdit from "./AccountEdit"
import { actions } from "astro:actions"
import AccountView from "./AccountView.astro"
import { Icon } from "astro-icon/components"

export const prerender = false // Not needed in 'server' mode

// const { data, error } = await Astro.callAction(actions.verify, {})
---

<script>
	const editAcc = document.getElementById("editAccount")
	const viewAcc = document.getElementById("viewAccount")
	const editBut = document.getElementById("edit_account")
	const saveBut = document.getElementById("save_account")

	editBut?.addEventListener("click", () => {
		editAcc?.setAttribute("style", "display:none")
		viewAcc?.setAttribute("style", "display:flex")
		editBut?.setAttribute("style", "display:none")
		saveBut?.setAttribute("style", "display:flex")
	})
	saveBut?.addEventListener("click", () => {
		viewAcc?.setAttribute("style", "display:none")
		editAcc?.setAttribute("style", "display:flex")
		saveBut?.setAttribute("style", "display:none")
		editBut?.setAttribute("style", "display:flex")
	})
</script>

<div class="flex min-h-[500px] flex-col gap-8">
	<div id="editAccount" class="flex flex-col items-start gap-4">
		<AccountView />
		<button
			id="edit_account"
			type="button"
			class={button({
				intent: "green",
				size: "small",
			})}
		>
			<Icon name="ph:pencil-simple" />
			Profil bearbeiten
		</button>
	</div>
	<div id="viewAccount" class="hidden">
		<AccountEdit client:load />
	</div>
</div>
