---
import { actions } from "astro:actions"
import { createImageUrl } from "../../lib/createImageUrl"
const { data, error } = await Astro.callAction(actions.verify, {})
console.log(data?.profileImage?.url)
---

{
	data ? (
		<div>
			<div class="fit-content flex items-center gap-4">
				<img
					src={
						data.profileImage
							? createImageUrl(data.profileImage.url)
							: "Profile.png"
					}
					class="h-40 w-40 rounded-full border-2 border-green-black"
				/>
				<div class="text-green-black">
					<p class="text-xl font-bold">Du bist angemeldet als: </p>
					<p class="text-3xl font-bold text-green-lighter">
						{data.name}
					</p>
				</div>
			</div>
			<div class="ml-44 text-green-black">
				<p>E-Mail Adresse</p>
				<p class="text-xl font-bold">{data.email}</p>
				<p class="text-sm">
					Deine E-Mail Adresse ist für alle Mitglieder öffentlich.
					Somit erlaubst du ihnen dich zu kontaktiern.
				</p>
			</div>
		</div>
	) : (
		<a class="px-6 text-2xl text-white no-underline" href="/login">
			Einloggen
		</a>
	)
}
