---
import { z } from 'astro:content'
import type { becomeMember } from '../content/loaders/kirby/schemas'


export interface Props extends z.infer<typeof becomeMember> {}
const props = Astro.props
---

<div class="flex flex-col gap-4 max-w-md">
	<!-- TODO: Get this text from the CMS -->
	Become a member
	<div class="flex flex-col gap-1">
		<label for="name">Name <span>optional</span></label>
		<input type="text" id="name" name="name" class="rounded-lg px-4 py-2">
	</div>
	<div class="flex flex-col gap-1">
		<label for="email">Email</label>
	<input type="email" id="email" name="email" required class="rounded-lg px-4 py-2" placeholder="z.B. maxi@musteradresse.de">
	</div>
	<button class="cursor-pointer rounded-lg p-4">Become Change</button>
</div>