---
import { Icon } from "astro-icon/components"
import Background from "../assets/login_bg.png"
import Button from "./Button.astro"
import { Input } from "./Input"
---

<script>
	import { actions } from "astro:actions"
	import { navigate } from "astro:transitions/client"

	let params = new URLSearchParams(document.location.search)
	let redirect = params.get("redirect")
	const redirectUrl = new URL(redirect || "/", document.location.origin)
	console.log("redirect", redirectUrl)

	const form = document.querySelector("form")
	form?.addEventListener("submit", async (event) => {
		event.preventDefault()
		const formData = new FormData(form)
		const { data, error } = await actions.login(formData)
		if (!error) {
			console.log("redirecting to", redirect)
			navigate(redirectUrl.href)
		}
	})
</script>

<div class="z-10 flex w-full basis-1/2 items-center justify-center">
	<form class="flex flex-col items-start gap-4">
		<Input label="E-Mail" name="email" type="email" id="email" />
		<Input label="Passwort" name="password" type="password" id="password" />
		<Button type="submit" intent="green" size="small">
			Anmelden
			<Icon name="ph:sign-in" />
		</Button>
	</form>
</div>
