---
import type { Props } from '@astrojs/starlight/props';
import { Card, LinkCard } from "@astrojs/starlight/components";
import { headingToSlug } from "../content/loaders/kirby/generateToC";
import { BecomeMember } from './BecomeMember';
import type { LayoutUnion, LexicalRoot } from '../content/loaders/payload/schema';

const page = Astro.props.entry.data;

let content;

if (page.template === "splash") {
  content = page.layout as LayoutUnion[];
} else if (page.template === "doc") {
  content = page.lexical as LexicalRoot;
}

---

{
	page.template === "splash" ? page.layout.map((layoutElement) => {
		switch (layoutElement.blockType) {
			case "content":
				return <p>
					Content <br />
					{JSON.stringify(layoutElement)}
				</p>;
			case "cta":
				return <p>
					CTA <br />
					{JSON.stringify(layoutElement)}
				</p>;
			default:
				return JSON.stringify(layoutElement);
		}
	}) : page.template === "doc" ? JSON.stringify(page.lexical) : <p>No content</p>
}
