---
import { actions } from "astro:actions"

export const prerender = false // Not needed in 'server' mode

const { data, error } = await Astro.callAction(actions.verify, {})
console.log(data, error)
---

{
	data ? (
		<>
			<p>Logged in as {data.name}</p>
		</>
	) : (
		<p>Not logged in</p>
	)
}
