---
import type { LinkCardBlock } from "@website/src/content/loaders/payload/schemas/lexicalBlocks"
import { Icon } from "astro-icon/components"

// export interface Props extends LinkCardBlock {}
export type Props = LinkCardBlock

const props = Astro.props
---

<a
	href={props.href}
	class="hover:bg-green my-1 flex rounded-lg border border-green-lighter p-4 text-green-black no-underline hover:border-green-dark"
	target="_blank"
	rel="noopener noreferrer"
>
	<div class="flex w-full flex-col gap-2">
		<p class="typestyle-text-m font-bold">{props.title}</p>
		<p class="typestyle-text-s">{props.description}</p>
	</div>
	<Icon name="ph:arrow-right" class="h-6 w-6 shrink-0" />
</a>
