---
import Default from "@astrojs/starlight/components/Sidebar.astro"
import { getCollection } from "astro:content"
import SidebarPersister from "@astrojs/starlight/components/SidebarPersister.astro"
import SidebarSublist from "./SidebarSublist.astro"
import type { SidebarEntry } from "@website/src/content/loaders/payload/getSidebar"
import MobileMenuFooter from "./MobileMenuFooter.astro"
import Search from "./Search.astro"
import { Icon } from "astro-icon/components"

const { slug } = Astro.params

const sidebar = await getCollection("sidebar").then((collection) => {
	return collection.map((item) => {
		checkActive(slug || "", item.data)
		return item.data
	})
})

function checkActive(path: string, item: SidebarEntry) {
	if (item.type === "group") {
		for (const child of item.entries) {
			checkActive(path, child)
		}
	} else {
		if (item.id === path) {
			item.isCurrent = true
		}
	}
}

// Astro.props.sidebar = sidebar
Astro.locals.starlightRoute.sidebar = sidebar
---

<SidebarPersister>
	<a class="flex gap-1 pr-2 justify-center text-green-black self-start hover:bg-pink-dark hover:text-off-white rounded-sm" href="/"> 
		<Icon class="mt-1" name="ph:caret-left" size={20} />
		Wissensdatenbank verlassen </a>
	<Search />
	<SidebarSublist sublist={sidebar} />
</SidebarPersister>
