@font-face {
	font-family: "Uncut";
	src: url("/fonts/uncut/UncutSans-Variable.woff2") format("woff2");
	font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.default-layout {
		display: grid;
		grid-template-columns:
			1fr
			calc(min(80rem, 100%) - 4rem)
			1fr;
		/* padding: 0 2rem; */
	}
	.default-layout > * {
		grid-column: 2;
	}
	.full-bleed {
		width: 100%;
		grid-column: 1 / 4;
	}

	.typestyle-hero-h1 {
		@apply font-poppins text-[6rem] font-black leading-none lg:text-[9.5rem];
	}
	.typestyle-h1 {
		@apply font-poppins text-[5rem] font-black leading-none lg:text-[7rem];
	}
	.typestyle-hero-p {
		@apply font-sans text-2xl font-semibold leading-[1.35] lg:text-4xl lg:leading-[1.25];
	}

	.typestyle-h2 {
		@apply font-poppins text-[6.25rem] font-black uppercase leading-none lg:text-[6.26rem] lg:leading-[1.25];
	}

	.typestyle-h4 {
		@apply font-poppins text-[2.5rem] font-black uppercase leading-none lg:text-5xl lg:leading-[1.2];
	}

	.typestyle-text-l {
		@apply font-sans text-2xl leading-[1.5];
	}
}

:root {
	--sl-nav-height: 112px;
	box-sizing: border-box;
}

.y-offset-hack {
	padding-top: calc(
		var(--sl-nav-height) + var(--sl-mobile-toc-height) + 8rem
	);
	padding-inline-start: var(--sl-content-inline-start);
	margin-top: calc((var(--sl-nav-height) + var(--sl-mobile-toc-height)) * -1);
}

body {
	font-family:
		Uncut,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
	/* nur zum testen: */
	background-color: #002922;
	/* background-color: #ceb2d7; */
}

input[type="radio"] {
	appearance: none;
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 0.8em;
	height: 0.8em;
	border-radius: 50%;
	transform: translateY(0.1em);
	box-shadow: 0 0 0 2px currentColor;
	background-clip: content-box;
	margin: 0 0.7rem 0 0.3rem;
}

input[type="radio"]:checked {
	border: 0.1em solid transparent;
	background-color: currentColor;
}

input[type="checkbox"] {
	appearance: none;
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 0.8em;
	height: 0.8em;
	border-radius: 5%;
	transform: translateY(0.1em);
	margin: 0 0.7rem 0 0.3rem;
	box-shadow: 0 0 0 2px currentColor;
	background-clip: content-box;
}

input[type="checkbox"]:checked {
	border: 0.1em solid transparent;
	background-color: currentColor;
}
