---
import { actions } from "astro:actions"
import Button from "./button/Button.astro"
import { button } from "./button/button"
import { cn } from "../lib/cn"

export const prerender = false // Not needed in 'server' mode

const { data, error } = await Astro.callAction(actions.verify, {})
---

<script>
	import { actions } from "astro:actions"

	document.getElementById("logout")?.addEventListener("click", async () => {
		const { data, error } = await actions.logout()
		if (error) {
			console.error(error)
		} else {
			location.reload()
		}
	})
</script>

{
	data ? (
		// <p
		// 	class="cursor-pointer bg-transparent px-6 text-2xl uppercase text-white"
		// 	id="logout"
		// 	role="button"
		// 	aria-label="Logout">
		// 	Logout
		// </p>
		<a
			class="h-16 flex flex-row items-center gap-4 px-4 typestyle-text-l font-bold  text-white no-underline lg:px-6"
			href="/account">
			Mein Profil
			<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="16" cy="16.8906" r="16" fill="#F8F8F8"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M8 30.7525V24.097C8 19.2368 11.94 15.2969 16.8001 15.2969C21.6603 15.2969 25.6003 19.2368 25.6003 24.097V29.6939C22.9261 31.7027 19.6021 32.893 16 32.893C13.0857 32.893 10.3534 32.1138 8 30.7525Z" fill="#ABABAB"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M8 30.7489V24.093C8 20.0838 10.681 16.7008 14.348 15.6391L16.3602 15.3037L16.4241 15.3008C16.1224 15.4715 12.4437 17.6044 12.4437 20.0898V32.4927C10.8605 32.1334 9.36636 31.5393 8 30.7489Z" fill="#727272"/>
				<circle cx="14.4001" cy="10.49" r="6.40011" fill="#ABABAB"/>
				<path d="M15.1998 10.4906C16.7998 10.4906 17.5998 9.69063 17.5998 9.69063C17.5998 9.69063 16.7998 8.89062 15.1998 8.89062C13.5998 8.89062 12.7998 9.69063 12.7998 9.69063C12.7998 9.69063 13.5998 10.4906 15.1998 10.4906Z" fill="#727272"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4 4.08984C12 4.88984 11.6438 6.48855 11.6438 8.08855C11.6438 8.63712 11.2154 9.32807 10.7994 9.99929C10.0018 11.2858 9.24927 12.4999 11.6438 12.4999C12.456 12.4999 12.4511 14.1771 12.4449 16.3099C12.4446 16.401 12.4443 16.493 12.4441 16.5856C9.86612 15.7591 8 13.3424 8 10.4899C8 6.9553 10.8654 4.0899 14.4 4.08984Z" fill="#727272"/>
			</svg>
		</a>
	) : (
		<a class={cn(button({ intent: "black", size: "small" }), "mr-4")} href="/login">
			Einloggen
		</a>
	)
}
